{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>{{ project.description }}</h1>
</div>
<div class="row">
    <div class="col-md-12">
    	<h3>Commits</h3>
    	<table class="table">
    		{% for commit in project.iter_commits() %}
    		<tr>
    			<td>{{ commit.committed_datetime.strftime('%Y-%m-%d %H:%M') }}</td>
    			<td>{{ commit.message }}</td>
    			<td>{{ commit.author.name }} ({{ commit.author.email }})</td>
    		</tr>
    		{% endfor %}
    	</table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
