.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.search-btn-group {
	margin-top: 20px;
}

.thumbnail {
   background: #aaa;
}

.flatdeb-thumbnail {
	min-height: 256px;
	height: 256px;
}

.flatdeb-caption {
	color: #fff;
	position: absolute;
	font-size: 10px;
	bottom: 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius: 0 0 4px 4px;
	text-align: center;
	text-color: white;
	width: 90%;
}
