{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<div class="page-header">
	<div class="row">
        <h1 class="col-lg-6">FlatDeb {{ flatdebs| length }} Applications</h1>
	<form class="navbar-form navbar-right search-btn-group">
		<div class="form-group">
			<input type="text" id=search-flatdeb-input class="form-control" placeholder="Search">
		</div>
	</form>
	</div>
</div>

<div class="container">
	<div class="row">
		{% for name, flatdeb in flatdebs.items()|sort %} 
		<div class = "col-sm-6 col-md-3 flatdeb-info">
            <a href="{{ url_for('main.get', pkgname=name) }}">
			<div class="thumbnail">
                <img class="flatdeb-thumbnail" src="/resources/icons/{{ name }}" alt="Generic placeholder thumbnail">
			</div>
            </a>

			<div class = "flatdeb-caption">
				<h3 class="flatdeb-name">{{ name.split('.')[-1] }}</h3>
				<p>{{ flatdeb.description }}</p>

				<p>
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-md" data-toggle="modal"
					data-target="#installModal" data-pkgname={{ url_for('main.install', pkgname=name) }}>
					command
				</button>
				<a href="{{ url_for('main.appstream', pkgname=name) }}"
					class = "btn btn-default" role = "button">
					install
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="modal fade" id="installModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Install</h4>
			</div>
			<div class="modal-body">
				<p>Loading...</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
	$(document).ready(function(){
		$("#search-flatdeb-input").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$(".flatdeb-info").filter(function() {
				$(this).toggle($(this).find('.flatdeb-name').text().toLowerCase().indexOf(value) > -1);
			});
		});
		$("#installModal").on('show.bs.modal', function (event){
			var button = $(event.relatedTarget);
			var recipient = button.data('pkgname');
			var modal = $(this);
			modal.find('.modal-body').html(recipient);
			modal.find('.modal-body').load(recipient);
		});
	});
</script>
{% endblock %}
