{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Pulls History</h1>
</div>
<div class="row">
    <div class="col-md-12">
    	<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>User</th>
					<th>Origin</th>
					<th>Ref</th>
					<th>Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for pull in pulls %}
				<tr>
					<td>{{ pull[0] }}</td>
					<td>{{ pull[1] }}</td>
					<td>{{ pull[2] }}</td>
					<td>{{ pull[3] }}</td>
					<td>{{ pull[5].split('.')[0] }}</td>
					{% if pull[4] == 'wait' %}
					<td><span style="color: #93cee9;" class="glyphicon glyphicon-refresh" aria-hidden="true"></span></td>
					{% elif pull[4] == 'ok' %}
					<td><span style="color: #428bca;" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
					{% elif pull[4] == 'fail' %}
					<td><span style="color: #bc2328;" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
					{% else %}
					<td><span style="color: #f67400;" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></td>
					{% endif %}
				</tr>
    		{% endfor %}
			<tbody>
    	</table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
