{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Projects</h1>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        {% for name, project in projects.items()|sort %}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{{ url_for('projects.get', repo_name=name) }}">{{ name }}</a></div>
                <div class="panel-body">{{ project.working_dir }}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}