{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
	<h1>{{ flatdeb.pkgname.split('.')[-1] | capitalize }}</h1>
</div>
<div class="row">
    <div class="col-md-12">
		<div class="media">
			<div class="media-left">
				<img class="flatdeb-thumbnail" src="/resources/icons/{{ flatdeb.pkgname }}" alt="{{ flatdeb.pkgname }}">
			</div>
			<div class="media-body">
				<pre>
{{ flatdeb.ostree }}
				</pre>
				<button type="button" id="commitsize" class="btn btn-primary btn-lg btn-block">Get Size</button>
			</div>
		</div>
		</br>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Install</h3>
			</div>
			<div class="panel-body">
				flatpak --user remote-add --no-gpg-verify flatdeb {{ flatdeb.repo_url }}
				</br>
				flatpak --user install flatdeb {{ flatdeb.pkgname }}
			</div>
		</div>
		<pre>
{{ flatdeb.yaml }}
		</pre>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
	var ref = $(location).attr('pathname');
	ref = ref + '/x86_64/master';
	$.get('/resources/cache', {ref: ref},  function(data) {
		var size = data['commitsize'];
		if (size != '-1') {
			size = size / (1000 * 1000);
			$("#commitsize").html(size.toFixed(2) + "MB");
			$("#commitsize").attr('disabled', 'disabled');
		}
	});
	
});

$("#commitsize").click(function() {
	var ref = $(location).attr('pathname');
	ref = ref + '/x86_64/master';
	$(this).attr('href', '#');
	$(this).html("Getting size, Please waiting...");
	$.get('/resources/commit', {ref: ref});
	var refreshSize = function(){
		$.get('/resources/cache', {ref: ref},  function(data) {
			var size = data['commitsize'];
			if (size != '-1') {
				size = size / (1000 * 1000);
				$("#commitsize").html(size.toFixed(2) + "MB");
				$("#commitsize").attr('disabled', 'disabled');
				clearInterval(intervalId);
			}
		});
	}
	intervalId = setInterval(refreshSize, 5000);
  });
</script>
{% endblock %}
